# Ignora archivos de Python compilados
__pycache__/


# Entornos virtuales comunes
model/


# Archivos de configuración del entorno
*.env
*.env.*

# Archivos de log o salida
*.log
*.out

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.swp
*.tmp
*.bak

# Carpetas específicas a ignorar
model/__pycache__/

# Ignora archivos y carpetas de VSCode o PyCharm si los usas
.vscode/
.idea/
